.sidebar-list {
  width: 100%;
  height: calc(100vh - 80px);
  overflow-y: auto;
  max-width: 360px;
  background-color: rgba(0, 0, 0, .03);

  &__item {
    & > * {
      pointer-events: none;
    }

    &:hover {
      background-color: rgba(0, 0, 0, .06);
      cursor: pointer;
    }
  }
}
